




span >label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
span > label > input{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;

}
span > label > input:checked { /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
  -webkit-filter: brightness(1) grayscale(1) opacity(.8);
       -moz-filter: brightness(1) grayscale(1) opacity(.8);
            filter: brightness(1) grayscale(1) opacity(.8);
}

.container {
    position: relative;


}

.center {
    position: absolute;
    left: 10%;
    bottom: 95px;
    width: 80%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}



.imageSpanStyle{
 position: absolute; 

}
.imageStyle{
  height: 200px;
  width: 200px;
}
.imageStyle:hover{


}


input[type="checkbox"]  {
   
    width:300px;
    height:300px;
    cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance:    none;
   appearance:    none;
   
     display:inline-block;
     margin: 0px;
    
}
input[type="checkbox"]:checked {
    
    border:2px solid #f00;
  -webkit-filter: brightness(1) grayscale(1) opacity(.8);
       -moz-filter: brightness(1) grayscale(1) opacity(.8);
            filter: brightness(1) grayscale(1) opacity(.8);
}

.spanStyle{
  display: -webkit-inline-box;
  padding-bottom: 20px;

}


/*.outer:hover{
 border: 10px solid #0093b8;
 -webkit-border-radius: 500px;
width: 130px;
  height: 130px;
display: flex;
justify-content: center; /* align horizontal */
/*align-items: center;  align vertical 
}*/





.circleText{

left:10%;
color: #ffffff;
text-align: center;
width:80%;
top: 40%; 
font-weight:bold;
word-wrap: break-word;

}



.inner{
 background:#0093b8;

width: 150px;
  height: 150px;
 -webkit-border-radius: 500px;

display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
    




}
.outer{
padding: 5px;
}
span.outer:hover{

 border: 10px solid #0093b8;
 -webkit-border-radius: 500px;
width: 160px;
  height: 160px;
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */





}
